<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/" th:debug="true">

<head>
<meta charset="UTF-8">
<title>Spring Boot Learning</title> </head>
<body>
  <h1>This is About Page</h1>
  <h1>We are learning Spring Boot</h1>

 
  <h1 th:text="${name}"></h1>
  <p>The length of name is : <span th:text="${#strings.length(name)}"></span></p>


  <h2>Name of the owner is : <span th:text="${name}"></span></h2>
	<h1 th:text="${currentDate}"></h1>
	
	<div th:with="a=5, b=7, n=${name}">
		<h1>The value of a is : <span th:text="${a}"></span></h1>
		<h1 th:text="'The value of b is : '+${b}"></h1>
		<h1>The local value of n is : <span th:text="${n}"></span></h1>
		<h1 th:text="'Sum of ' + ${a} + ' and ' + ${b} + ' is : ' + (${a} + ${b})"></h1>

		
	</div>
	

</body>
</html> 