<html lang="en">

<head>
	<title>Conditional Statement in Thymeleaf</title>
</head>

<body>
	<h1>Conditional Statement in Thymeleaf</h1>
	<h1>
		User is :
		<span th:style="${isActive} ? 'color:green': 'color:red'" th:text="${isActive} ? 'ACTIVE' : 'NOT ACTIVE'">

		</span>
	</h1>

	<h1 th:if="${gender}=='M'">Male</h1>
	<h1 th:unless="${gender}=='M'">Female</h1>
	
	
	<div th:switch="${#lists.size(mylist)}">
		<h1 th:case="0">List Contains Zero Elements</h1>
		<h1 th:case="1">List Contains One Element</h1>
		<h1 th:case="*">List Contains More Than One Element</h1>
	</div>
</body>

</html>